.main-game {
  align-items: center;
  background-image: url('../img/bg-perguntas.png');
  display: flex;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.div-perguntas {
  align-items: center;
  background-color: rgb(217, 247, 251);
  border-radius: 6px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin-top: 5px;
  padding: 10px;
  width: 30vw;
}

.div-buttons-game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.button-questions {
  border-radius: 6px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
}

.button-questions:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button-next {
  margin-top: 10px;
}

.button-next:hover {
  cursor: pointer;
}

.buttonCorrect {
  border: 3px solid rgb(6, 240, 15);
  margin-left: 5px;
}

.buttonIncorrect {
  border: 3px solid red;
  margin-left: 5px;
}
