* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&family=Crimson+Text&family=Fredoka+One&family=Share+Tech+Mono&family=Source+Code+Pro:wght@300&display=swap') ;

body {
  color: black;
}

h1 {
  font-size: 65px;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(40, 94, 42), 0 0 5px rgb(4, 148, 126);
}

.logo {
  width: 500px;
  height: 150px;
}

.section-login {
  align-items: center;
  background-image: url('../img/background.png');
  display: flex;
  flex-direction: column;
  font-family: Bellota Text , cursive;
  font-weight: 700;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
}

.div-buttons-login {
  display: flex;
  justify-content: space-around;
  width: 10vw;
}

.btn-login-page {
  width: auto;
}

.btn-login-page:hover {
  cursor: pointer;
  opacity: 0.8;
}

.div-inputs-login {
  height: 5vh;
}

.email {
  margin-left: 20px;
}

.inputs-login-page {
  margin-left: 5px;
  padding: 5px;
}
